doctype html
html(lang="en")
  head
    title Code School React
    link(rel="stylesheet" href="css/bundle.css")
  body
    div.jumbotron
      div.container
        h1
          span To
          span.todo__hero-header rpe
          span do
          span.todo__hero-header
          span s
        p.todo__hero-text Let's sink some tasks.
    div#app
    script(src='scripts/bundle.js' type='text/javascript')
